In [ ]:
pip install snscrape

In [ ]:
import pandas as pd
from tqdm.notebook import tqdm
from ipywidgets import FloatProgress
import snscrape.modules.twitter as sntwitter

In [ ]:
scraper=sntwitter.TwitterSearchScraper("sandiagauno")
tweets=[]
n_tweets=500
for i, tweet in tqdm(enumerate(scraper.get_items()), total=n_tweets):
    data=[
        tweet.user.username, 
        tweet.rawContent, 
        tweet.user.location,
    ]
    tweets.append(data)
    if i > n_tweets:
        break
tweet_df=pd.DataFrame(tweets, columns=['@Username','Tweet', 'Lokasi']
            )

In [ ]:
tweet_df

In [ ]:
tweet_df.to_csv('sandiaga uno.csv', index=False)